# Checkpoints de Jupyter
.ipynb_checkpoints/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*.log
*.tmp

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de datos
*.xlsx
*.csv
*.zip
*.docx

# Entornos virtuales
env/
venv/

# Archivos de build
build/
dist/
*.egg-info/
.eggs/
develop-eggs/
downloads/
sdist/
lib/
lib64/
parts/
var/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Documentación Sphinx
docs/_build/

# Entornos y editores
.env
.idea/
.vscode/
.spyproject/

# vim swap files
*.swp
*.swo

# Mypy cache
.mypy_cache/

# Estructura Cookiecutter
data/raw/
data/processed/

